* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

body {
    background-color: rgb(243, 243, 243);
}

header {
    margin: 1rem 2rem;
    padding: .5rem 5rem;
    display: flex;
    /* background-color: rgba(6, 66, 170, 0.5); */
    background: rgba( 1, 21, 142, 0.7);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 8px);
    -webkit-backdrop-filter: blur( 8px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    position: sticky;
    top: 0px;
    box-shadow: 0 0 10px gray;
    z-index: 100;
}

header nav {
    background: none;
}

header nav ul {
    display: flex;
    list-style: none;
    background: none;
}

header nav ul li {
    padding: 0 2rem;
    text-align: center;
    display: block;
    background: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    transition: .3s;
    text-shadow: 1px 1px 2px gray;
    background: none;
}

header #logo {
    height: 3.5rem;
    background: none;
}

.btn {
    height: 2.5rem;
    width: 6rem;
    border-radius: 1.5rem;
    font-size: 1.1rem;
    background: none;
    transition: .3s;
    color: white;
    border: none;
    background: linear-gradient(340deg, rgba(3, 4, 95, 1) 0%, rgba(30, 30, 201, .9) 39%, rgba(0, 212, 255, .9) 100%);
    box-shadow: 3px 3px 10px gray;
    /* background-image: linear-gradient(340deg, rgb(74, 5, 212) 11.2%, rgb(230, 46, 199) 91.2%); */
    /* background-image: radial-gradient(circle at 10% 20%, rgba(37, 145, 251, 0.98) 0.1%, rgb(0, 7, 128) 99.8%); */
    /* background-image: radial-gradient(602px at 2.1% 5.1%, rgb(233, 0, 120) 0%, rgb(0, 0, 0) 90.1%); */
}

.btn:hover {
    color: white;
    transform: scale(1.05);
}

main {
    width: 90vw;
    margin: 4rem auto;
    padding: 2rem 1rem;
    border-radius: 1rem;
    /* background-color: white; */
    background: linear-gradient(to right bottom, rgb(221, 231, 235), rgb(135, 135, 255));
    box-shadow: 0 0 15px gray;
}

main h1 {
    background: none;
    text-align: center;
}

main #sec {
    margin: 2rem 1rem;
    padding: 1rem;
    height: 50vh;
    display: flex;
    border-radius: 1rem;
    background-image: linear-gradient( 145.2deg, rgba(232, 5, 5, .9) 1.7%, rgba(245, 49, 191, 1) 150%);
}

main #sec12 {
    margin: 2rem 1rem;
    padding: 1rem;
    height: 40vh;
    display: flex;
    border-radius: 1rem;
    background-image: linear-gradient( 145.2deg, #9edaedee, 1.7%, rgb(44, 194, 207) 150%);
}

main #sec img {
    height: 50%;
    margin: 0 7rem;
    align-self: center;
    background: none;
}

main #sec12 img {
    height: 50%;
    margin: 0 7rem;
    align-self: center;
    background: none;
}

main #sec #cont {
    background: none;
}

main #sec12 #cont {
    background: none;
    margin-top: 3rem;
}

main #sec #cont #heading {
    background: none;
}

main #sec12 #cont #heading {
    background: none;
}

main #sec #cont #heading h2 {
    background: none;
    font-size: 1.5rem;
    margin-top: 1rem;
    color: white;
    text-shadow: 0 0 2px black;
}

main #sec12 #cont #heading h2 {
    background: none;
    font-size: 1.8rem;
    margin-top: 1rem;
    color: white;
    text-shadow: 0 0 2px black;
}

main #sec #cont #conten {
    background: none;
}

main #sec12 #cont #conten {
    background: none;
}

main #sec #cont #conten p {
    background: none;
    margin-top: 1.5rem;
    color: white;
}

main #sec12 #cont #conten p {
    background: none;
    margin-top: 1.5rem;
    color: white;
}

main #sec #cont #btn-con {
    width: 100%;
    height: 5rem;
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: none;
}

main #sec #cont #btn-con a {
    height: 65%;
    width: 30%;
}

main #sec #cont #btn-con a .bt1 {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(100, 100, 100, .8);
}

main .material-1 {
    margin: 2rem 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
}

main .material-1 img {
    height: 7rem;
    margin: 0 8rem;
}

main .material-1 .material-content1 h3 {
    font-size: 2rem;
    color: rgb(42, 37, 37);
}

main .material-1 .material-content1 ul {
    margin: 1rem 0 0 1rem;
}

main .material-1 .material-content1 ul li {
    margin: .5rem 0;
}

main .material-1 .material-content1 ul li a {
    margin: 0 .5rem;
}

.btn1 {
    padding: .3rem 1rem;
    border-radius: 2rem;
    color: white;
    border: none;
    box-shadow: 5px 5px 8px rgba(50, 50, 50, .8);
    transition: .4s;
    background-image: linear-gradient(165deg, rgba(37, 145, 251, 0.98) 0.1%, rgb(0, 7, 128) 99.8%);
}

.btn1:hover {
    transform: scale(1.1);
}

.btn2 {
    padding: .3rem 1rem;
    border-radius: 2rem;
    color: white;
    border: none;
    box-shadow: 5px 5px 8px rgba(50, 50, 50, .8);
    transition: .4s;
    background-image: linear-gradient(134.6deg, rgb(243, 42, 42) 5%, rgb(104, 9, 90) 74.7%);
}

.btn2:hover {
    transform: scale(1.1);
}

.btn3 {
    padding: .3rem 1rem;
    border-radius: 2rem;
    color: white;
    border: none;
    box-shadow: 5px 5px 8px rgba(50, 50, 50, .8);
    transition: .4s;
    background-image: linear-gradient(165deg, rgb(4, 207, 95) 0%, rgb(3, 44, 25) 90%);
}

.btn3:hover {
    transform: scale(1.1);
}

.btn4 {
    padding: .3rem 1rem;
    border-radius: 2rem;
    color: white;
    border: none;
    box-shadow: 5px 5px 8px rgba(50, 50, 50, .8);
    transition: .4s;
    background-image: linear-gradient(165deg, rgb(173, 0, 171) 0%, rgb(15, 51, 92) 90%);
}

.btn4:hover {
    transform: scale(1.1);
}

main .material-2 {
    margin: 4rem 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
}

main .material-2 .material-content1 {
    margin-left: 2rem;
}

main .material-2 .material-content1 h3 {
    font-size: 2rem;
    color: rgb(42, 37, 37);
}

main .material-2 .material-content1 ul {
    margin: 1rem 0 2rem 1rem;
}

main .material-2 .material-content1 ul li {
    margin: .5rem 0;
}

main .material-2 .material-content1 ul li a {
    margin: 0 .5rem;
}

main .material-2 img {
    position: absolute;
    right: 15rem;
}

footer {
    height: 45vh;
    width: 100%;
    margin-top: 8rem;
    background-color: rgb(222, 221, 221);
    border-top: 1px solid gray;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
}

footer #info {
    background: none;
    width: 100%;
}

footer #info div {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

footer #info div h2 {
    background: none;
    font-size: 2rem;
    margin-left: 1rem;
}

footer #info div img {
    background: none;
    height: 4rem;
}

footer #info a {
    background: none;
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
    margin-left: 3rem;
}

footer #info p {
    background: none;
    margin: 2rem 0 0 3rem;
}

footer #links {
    background: none;
}

footer #links table {
    background: none;
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

th {
    text-align: start;
    width: 20%;
    background: rgb(222, 221, 221);
    font-size: .9rem;
}

footer a {
    background: rgb(222, 221, 221);
    text-decoration: none;
    font-size: .8rem;
    color: black;
}

td {
    background: rgb(222, 221, 221);
}

footer #links #social {
    background: none;
    width: 100%;
}

footer #links #social div {
    background: none;
    height: 10vh;
    width: 100%;
    text-align: center;
}

footer #links #social div .butn {
    display: inline-block;
    width: 7vh;
    height: 7vh;
    margin: 25px 15px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(3, 8, 97, 0.5);
    /* color: #1a1a1a; */
    color: white;
    overflow: hidden;
    position: relative;
    transition: .4s;
    background: linear-gradient(340deg, rgba(3, 4, 95, 1) 0%, rgba(30, 30, 201, 1) 39%, rgba(0, 212, 255, 1) 100%);
}

footer #links #social div .butn i {
    line-height: 7vh;
    font-size: 1.5rem;
    background: none;
    transition: .4s;
}

footer #links #social div .butn:hover {
    transform: scale(1.15);
    color: #f1f1f1;
    box-shadow: 0px 0px 15px rgba(3, 8, 97, 0.5);
    animation: round .4s linear;
}

@keyframes round {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}