* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    background-color: none;
}

body {
    background-color: rgb(243, 243, 243);
}

header {
    margin: 1rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    padding: 0 2rem;
    text-align: center;
    display: block;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    transition: .3s;
    text-shadow: 1px 1px 2px gray;
}

header nav ul li a:hover {
    color: #29a7d9;
}

header #logo {
    height: 3.5rem;
}

.btn {
    height: 2.5rem;
    width: 6rem;
    border-radius: 1.5rem;
    font-size: 1.1rem;
    background: none;
    transition: .3s;
    background-color: white;
    box-shadow: 3px 3px 10px gray;
}

.btn:hover {
    background-color: #29a7d9;
    color: white;
    border: 3px solid blue;
}

main {
    width: 75vw;
    margin: 2rem auto;
    /* border: 2px solid black; */
}

main h1 {
    text-align: center;
    margin: 1rem;
}

main #img-sec {
    margin-top: 4rem;
    width: 100%;
    height: 60vh;
    background: url(../Images/maranda-vandergriff-7aakZdIl4vg-unsplash.jpg);
    background: linear-gradient(rgb(240, 240, 240, 0.3), rgb(240, 240, 240, 0.3)), url(../Images/maranda-vandergriff-7aakZdIl4vg-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 20px black;
}

main #img-sec img {
    background: none;
    height: 18rem;
    margin: 0 10rem 0 3rem;
}

main #img-sec p {
    background: none;
    font-size: 5rem;
    font-weight: bold;
    line-height: 5.5rem;
    color: rgb(21, 21, 22);
    text-shadow: 5px 5px 5px rgb(255, 255, 255);
}

main #content {
    margin-top: 4rem;
    background-color: white;
    box-shadow: 0px 0px 20px gray;
    border-radius: 1.5rem;
    padding: 1.5rem;
}

.heading {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

main #content p {
    font-size: 1rem;
    margin: 1.5rem 0;
}

main #content p span {
    text-decoration: underline;
}

main #content h4 {
    margin-top: 3rem;
}

main #content .head {
    font-weight: bold;
    margin: 1rem 0 0 0;
}

main #content ul {
    margin-left: 2rem;
}

main #pb {
    margin-top: 3rem;
    background-color: white;
    box-shadow: 0px 0px 20px gray;
    border-radius: 1.5rem;
    padding: 1.5rem;
}

main #pb p {
    margin-top: 1.5rem;
}

main #pb ul {
    margin-left: 2rem;
    margin-top: 10px;
}

main #sec {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4rem 0;
}

main #sec .card {
    margin: 2rem;
    width: 25%;
    height: 15rem;
    box-shadow: 0px 0px 15px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0 0 0;
    border-radius: .5rem;
    transition: .4s;
}

main #sec .card img {
    height: 17%;
}

main #sec .card p {
    margin: 20px 0;
    font-size: 1.3rem;
    color: rgb(60, 60, 60);
    font-weight: bold;
}

main #sec .card .btn {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    color: white;
    background: linear-gradient(to bottom right, rgb(213, 15, 213), rgb(23, 23, 216));
    transition: .4s;
}

main #pb #sec .card a {
    text-decoration: none;
}

main #sec .card .btn i {
    margin-left: 8px;
}

main #sec .card:hover {
    transform: scale(1.03);
}

main #sec .card .btn:hover {
    background: linear-gradient(to bottom right, rgb(23, 23, 216), rgb(213, 15, 213));
    border: none;
    transform: scale(1.05);
}