*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

header {
    margin: 1rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    padding: 0 2rem;
    text-align: center;
    display: block;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    transition: .3s;
    text-shadow: 1px 1px 2px gray;
}

header nav ul li a:hover {
    color: #29a7d9;
}

header #logo {
    height: 3.5rem;
}

.btn {
    height: 2.5rem;
    width: 6rem;
    border-radius: 1.5rem;
    font-size: 1.1rem;
    background: none;
    transition: .3s;
    background-color: white;
    box-shadow: 3px 3px 10px gray;
}

.btn:hover {
    background-color: #29a7d9;
    color: white;
    border: 3px solid blue;
}

#page{
    width: 70vw;
    background-color: white;
    box-shadow: 0px 0px 15px gray;
    border-radius: 15px;
    padding: 15px;
    margin: 50px auto;
}
#page h2{
    font-size: 35px;
    padding: 20px 0;
    font-weight: bold;
}

#page p{
    font-size: 18px;
    padding: 10px 0;
}

#page h3{
    font-size: 25px;
    padding: 10px 0;
}

#page table{
    border-collapse: collapse;
    font-size: 20px;
    margin: 10px auto;
    width: 90%;
}

table th{
    text-align: left;
    background-color: #78b7d0;
}
table tr:nth-of-type(even){
    background-color: rgb(162, 232, 200);
}

#page1{
    width: 70vw;
    background-color: white;
    padding: 15px;
    margin: 50px auto;
}
#page1 table{
    border-collapse: collapse;
    font-size: 20px;
    margin: 10px auto;
    width: 90%;
}

#syllabus-div{
    width: 70vw;
    background-color: white;
    box-shadow: 0px 0px 15px gray;
    border-radius: 15px;
    padding: 15px;
    margin: 50px auto;
    padding: 0;
}

#tab{
    background-color: rgb(167, 243, 243);
    box-sizing: border-box;
}
#tab h1{
    font-size: 35px;
    padding: 20px 0;
    font-weight: bold;
    text-align: center;
}

#tab ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
#tab ul li{
    margin: 5px 10px;
}

#syllabus-div h2{
    font-size: 35px;
    padding: 20px 0;
    font-weight: bold;
}

#syllabus-div h3{
    font-size: 25px;
    padding: 10px 0;
}

.tab-item {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

.tab-item .div-tab {
    height: 3rem;
    width: 13rem;
    background-color: white;
    margin: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    border: 1px solid black;
    transition: .4s;
    box-shadow: 4px 4px 15px gray;

}
.tab-item .div-tab:hover {
    background-color: #29a7d9;
    color: white;
    border: 1px solid blue;
    box-shadow: 5px 5px 10px gray;
    transform: scale(1.08);
}

.l1content{
    margin: 20px;
}

.com-link1 {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

.com-link1 .com-div1 {
    height: 3rem;
    width: 15rem;
    background-color: white;
    margin: 1.5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    border: 1px solid black;
    transition: .4s;
    box-shadow: 4px 4px 15px gray;

}

.com-link1 .com-div1:hover {
    background-color: #29a7d9;
    color: white;
    border: 1px solid blue;
    box-shadow: 5px 5px 10px gray;
    transform: scale(1.08);
}

