* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

header {
    margin: 1rem 2rem;
    padding: .5rem 5rem;
    display: flex;
    /* background-color: rgba(6, 66, 170, 0.5); */
    background: rgba( 1, 21, 142, 0.7);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 8px);
    -webkit-backdrop-filter: blur( 8px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    position: sticky;
    top: 0px;
    box-shadow: 0 0 10px gray;
    z-index: 100;
}

header nav {
    background: none;
}

header nav ul {
    display: flex;
    list-style: none;
    background: none;
}

header nav ul li {
    padding: 0 2rem;
    text-align: center;
    display: block;
    background: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    transition: .3s;
    text-shadow: 1px 1px 2px gray;
    background: none;
}

header #logo {
    height: 3.5rem;
    background: none;
}

.btn {
    height: 2.5rem;
    width: 6rem;
    border-radius: 1.5rem;
    font-size: 1.1rem;
    background: none;
    transition: .3s;
    color: white;
    border: none;
    background: linear-gradient(340deg, rgba(3, 4, 95, 1) 0%, rgba(30, 30, 201, .9) 39%, rgba(0, 212, 255, .9) 100%);
    box-shadow: 3px 3px 10px gray;
    /* background-image: linear-gradient(340deg, rgb(74, 5, 212) 11.2%, rgb(230, 46, 199) 91.2%); */
    /* background-image: radial-gradient(circle at 10% 20%, rgba(37, 145, 251, 0.98) 0.1%, rgb(0, 7, 128) 99.8%); */
    /* background-image: radial-gradient(602px at 2.1% 5.1%, rgb(233, 0, 120) 0%, rgb(0, 0, 0) 90.1%); */
}

.btn:hover {
    color: white;
    transform: scale(1.05);
}

#page {
    width: 70vw;
    background: linear-gradient(to right bottom, rgb(221, 231, 235), rgb(157, 157, 254));
    box-shadow: 0px 0px 15px gray;
    border-radius: 15px;
    padding: 1.5rem;
    margin: 50px auto;
}

#page h2 {
    font-size: 35px;
    padding: 20px 0;
    font-weight: bold;
}

#page p {
    font-size: 18px;
    padding: 10px 0;
}

#page h3 {
    font-size: 25px;
    padding: 10px 0;
    margin-left: 3rem;
}

#page table {
    border-collapse: collapse;
    font-size: 17px;
    margin: 10px auto;
    width: 90%;
}

#page table th {
    text-align: left;
    padding: .5rem 1rem;
    background-color: #196ae4;
}

#page table td {
    padding: .4rem 1rem;
}

#page table tr:nth-of-type(even) {
    padding: .5rem 1rem;
    background-color: rgb(3, 168, 74);
}

#syllabus-div table th {
    text-align: left;
    padding: .5rem 1rem;
    background-color: #196ae4;
}

#syllabus-div table td {
    padding: .4rem 1rem;
}

#syllabus-div table tr:nth-of-type(even) {
    padding: .5rem 1rem;
    background-color: rgb(3, 168, 74);
}

#page1 {
    width: 70vw;
    background-color: white;
    padding: 15px;
    margin: 50px auto;
}

#page1 table {
    border-collapse: collapse;
    font-size: 20px;
    margin: 10px auto;
    width: 90%;
}

#syllabus-div {
    width: 70vw;
    background: linear-gradient(to right bottom, rgb(221, 231, 235), rgb(157, 157, 254));
    box-shadow: 0px 0px 15px gray;
    border-radius: 15px;
    padding: 15px;
    margin: 50px auto;
    padding: 0 0 2rem 0;
}

#page li {
    list-style: none;
}

#syllabus-div .l1content ul li a {
    text-decoration: none;
}

#tab {
    background-image: linear-gradient(to right bottom, skyblue, blue);
    box-sizing: border-box;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#tab h1 {
    font-size: 35px;
    padding: 20px 0;
    font-weight: bold;
    text-align: center;
}

#tab ul {
    padding: 1rem 3rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

#tab ul li .tab-item .div-tab {
    margin: 10px 10px;
    padding: 0 10px;
    width: 17rem;
}

#syllabus-div h2 {
    font-size: 35px;
    padding: 20px 0;
    font-weight: bold;
}

#syllabus-div h3 {
    font-size: 25px;
    padding: 10px 0;
}

.tab-item {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

.tab-item .div-tab {
    height: 3rem;
    width: 13rem;
    /* background-color: white; */
    background-image: linear-gradient(340deg, rgb(212, 5, 208) 11.2%, rgb(230, 74, 46) 91.2%);
    margin: 1.5rem 1rem;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    border: 1px solid black;
    transition: .4s;
    box-shadow: 4px 4px 15px rgb(50, 49, 49);
}

.tab-item .div-tab:hover {
    background-color: #29a7d9;
    color: white;
    border: 1px solid blue;
    box-shadow: 5px 5px 10px gray;
    transform: scale(1.08);
}

.l1content {
    margin: 20px;
    padding: 0 2rem;
}

.com-link1 {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

.com-link1 .com-div1 {
    height: 3rem;
    width: 19rem;
    background-image: linear-gradient(165deg, rgba(37, 145, 251, 0.98) 0.1%, rgb(0, 7, 128) 99.8%);
    margin: 1.5rem 1.5rem;
    display: flex;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    border: 1px solid black;
    transition: .4s;
    box-shadow: 4px 4px 15px rgb(53, 53, 53);
    padding: .5rem 1rem;
}

.com-link1 .com-div1:hover {
    background-color: #29a7d9;
    color: white;
    border: 1px solid blue;
    box-shadow: 5px 5px 10px gray;
    transform: scale(1.08);
}

#CapExp {
    margin: 250px;
    height: 200px;
}

footer {
    height: 45vh;
    width: 100%;
    margin-top: 8rem;
    background-color: rgb(222, 221, 221);
    border-top: 1px solid gray;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
}

footer #info {
    background: none;
    width: 100%;
}

footer #info div {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

footer #info div h2 {
    background: none;
    font-size: 2rem;
    margin-left: 1rem;
}

footer #info div img {
    background: none;
    height: 4rem;
}

footer #info a {
    background: none;
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
    margin-left: 3rem;
}

footer #info p {
    background: none;
    margin: 2rem 0 0 3rem;
}

footer #links {
    background: none;
}

footer #links table {
    background: none;
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

footer th {
    text-align: start;
    width: 20%;
    background: rgb(222, 221, 221);
    font-size: .9rem;
}

footer a {
    background: rgb(222, 221, 221);
    text-decoration: none;
    font-size: .8rem;
    color: black;
}

footer td {
    background: rgb(222, 221, 221);
}

footer #links #social {
    background: none;
    width: 100%;
}

footer #links #social div {
    background: none;
    height: 10vh;
    width: 100%;
    text-align: center;
}

footer #links #social div .butn {
    display: inline-block;
    width: 7vh;
    height: 7vh;
    margin: 25px 15px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(3, 8, 97, 0.5);
    /* color: #1a1a1a; */
    color: white;
    overflow: hidden;
    position: relative;
    transition: .4s;
    background: linear-gradient(340deg, rgba(3, 4, 95, 1) 0%, rgba(30, 30, 201, 1) 39%, rgba(0, 212, 255, 1) 100%);
}

footer #links #social div .butn i {
    line-height: 7vh;
    font-size: 1.5rem;
    background: none;
    transition: .4s;
}

footer #links #social div .butn:hover {
    transform: scale(1.15);
    color: #f1f1f1;
    box-shadow: 0px 0px 15px rgba(3, 8, 97, 0.5);
    animation: round .4s linear;
}