@import "mainstyle.css";
* {
    padding: 0;
    margin: 0;
    font: "Poppins";
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header button {
    color: black;
}

#im1 {
    margin: 4%;
    /* background-image: linear-gradient(#ffffff, rgb(255, 89, 180)); */
    background-image: linear-gradient(#9edaedee, rgb(44, 194, 207));
}

.btn {
    color: black;
}

.main {
    /* background-color: blueviolet; */
    background-image: linear-gradient(#9edaedee, rgb(44, 194, 207));
    /* float: left; */
    width: 1400px;
    height: 310px;
    margin: 40px;
}

.main1 {
    /* background-color: blueviolet; */
    /* background-image: url("..//Images/Bckr_img.png"); */
    /* float: left; */
    width: 1450px;
    height: 500px;
    margin: 40px;
}

.main2 {
    width: 1450px;
    height: 500px;
    margin: 40px;
}

.image {
    background-image: linear-gradient(#9edaedee, rgb(44, 194, 207));
    float: left;
    width: 300px;
    height: 270px;
    margin-left: 50px;
    margin-top: 13px;
}

.image1 {
    /* background-image: linear-gradient(#53404dee, rgb(35, 4, 37)); */
    /* background-image: url("..//Images/Bckr_img.png"); */
    float: left;
    width: 300px;
    height: 540px;
    margin-left: 50px;
    margin-top: 13px;
}

.image2 {
    float: right;
    width: 300px;
    height: 540px;
    margin-right: 50px;
    margin-top: 13px;
}

.content {
    background-image: linear-gradient(#9edaedee, rgb(44, 194, 207));
    /* color: white; */
    width: 1000px;
    height: 300px;
    margin-left: 380px;
    align-content: center;
}

.content1 {
    /* background-image: linear-gradient(#53404dee, rgb(35, 4, 37)); */
    /* color: white; */
    /* background-image: url("..//Images/Bckr_img.png"); */
    /* width: 1000px;
  height: 300px; */
    margin-right: 600px;
    align-content: center;
}

#plac1 {
    background-image: linear-gradient(#9edaedee, rgb(44, 194, 207));
    padding-top: 55px;
    margin-top: 140px;
    color: aliceblue;
}

#below1 {
    padding-top: 55px;
    background-image: linear-gradient(#9edaedee, rgb(44, 194, 207));
    color: aliceblue;
    word-spacing: 3px;
}

button {
    /* background-image: url("..//Images/Bckr_img.png"); */
    padding: 5px 15px;
    border-radius: 20px;
    margin-bottom: 5px;
    font-size: 20px;
    margin: 10px;
    color: white;
    background: linear-gradient( to bottom right, rgb(30, 70, 129), rgb(102, 41, 186), rgb(55, 7, 103));
}

#basic {
    margin-bottom: 10px;
    /* background-image: url("..//Images/Bckr_img.png"); */
}

#para {
    /* background-image: url("..//Images/Bckr_img.png"); */
    margin-bottom: 13px;
    font-size: 20px;
}